*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
body{
    overflow-x: hidden;
}
.landing_body{
    width: 100%;
    min-height: 120vh;
    background-color: whitesmoke;
    /* background-image: url(../media/bg5.jpg); */
}
.header_holder{
    min-height: 110vh;
    width: 100%;
}
.landing_body header{
    width: 100%;
    min-height: 110vh;
    background-image: url(../media/bg5.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    position: absolute;
   
}

nav{
    padding: 2.5% 5%;
    height: 14vh;
    /* background-color: transparent; */
    /* background-color: rgb(25, 25, 46); */
    
    position: fixed;
    width: 100%;
    top: 0%;
    left: 0;
    z-index: 5;
    /* box-shadow: 1px 1px 1px 0px rgb(25, 25, 46); */
}
.logo{
    float: left;
    /* border: 1px solid red; */
    width: 15%;
}
.logo p{
    color: white;
    font-size: 25px;
    letter-spacing: 1px;
    /* font-weight: bold; */
    
}
.logo p img{
    width: 15%;
}
.menu{
    float: right;
    width: 85%;
    padding: 1% 3%;
    /* border: 1px solid red; */

}
.menu li{
    list-style: none;
    display: inline-block;
    letter-spacing: 1px;
    margin-right: 10px;
   
}
.menu li a{
    color: white;
    font-size: 16px;
    text-decoration: none;
    text-transform: capitalize;
    transition: 1s ease-in;
}

.menu li a:hover,
.menu li .active{
    color: red;
}
.menu button{
    float: right;
}
#check{
    display: none;
}
.checkbtn{
    display: none;
}
.header{
    width: 50%;
    height: 70vh;
    /* border: 1px solid white; */
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% 4%;
    line-height: 50px;
  

}
.header h1{
    color: rgb(219, 218, 218);
    font-size: 45px;
}
.header p{
    color: rgb(219, 218, 218);
    font-size: 20px;
    line-height: 30px;
    
}
.vision{
    width: 100%;
    /* min-height: 20vh; */
}
.vision p{
    font-size: 40px;
    /* min-height: 100vh; */
    /* border: 1px solid black; */
    padding: 8% 4%;
    
}
.vision_holder{
    width: 100%;
    min-height: 50vh;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1%;
}
.vision_content{
    display: flex;
    flex-direction: column;
    min-height: 50vh;
    width: 30%;
    margin: 1%;
    padding: 2%;
    background-color: white;
    box-shadow: 1px 1px 0px 1px rgb(219, 218, 218);
    
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease-in;
    
    /* border-radius: 5px; */
    border-bottom-left-radius: 50px;
    border-top-right-radius: 50px;
}
.vision_content.appear{
    opacity: 1;
    
}
.vision_content:hover{
    /* transform: translateY(-2%); */
    margin-top: -3%;
    transition: 1s ease;
}
.vision_content i{
    font-size: 40px;
    /* color: black; */
    /* background-color: black; */
}
.vision_content h3{
    font-size: large;
    font-weight: bold;
    text-align: center;
}
.vision_content p{
    font-size: medium;
    text-align: center;
}
.about{
    width: 100%;
    margin-top: 15%;
    min-height: 100vh;
    padding: 6% 2%;
    display: flex;
    /* border: 1px solid black; */
    background-color: white;
}
.about_picture img{
    width: 100%;
    height: 80vh;
    
}
/* .about_content p{
    
} */
.about_picture{
    width: 55%;
    min-height: 80vh;
    transform: translateX(-50%);
    
    /* border: 1px solid black; */
}
.about_content{
    width: 50%;
    padding: 1% 3%;
    transform: translateX(50%);
    
}
.about_content,
.about_picture{
    transition: opacity 1s ease-in,transform 1s ease-in-out;
    opacity: 0;
}
.about_content.appear,
.about_picture.appear {
    transform: translateX(0);
    opacity: 1;
}
.about_content p:first-child{
    font-size: xx-large;
}

/* COURSES  */
.courses{
    width: 100%;
    min-height: 100vh;
    padding: 5% 0%;
    background-color: rgb(25, 25, 46);
}
.courses p{
    font-size: xx-large;
    text-align: center;
    
    color: whitesmoke;
}
.courses_holder{
    width: 100%;
    min-height: 80vh;
    display: flex;
    flex-direction: column;
    /* border: 1px solid white; */
    display: grid;
    grid-template-columns: 40% 40%;
    padding: 5% 10%;
    justify-content: center;
    align-items: center;
    

}
.course span{
    color: black;
    /* font-weight: bold; */
}
.course{
    /* display: inline-block; */
    display: flex;
    ;
    /* justify-content: center; */
    align-items: center;
    border: 1px solid white;
    border-radius: 5px;
    height: 15vh;
    width: 90%;
    background-color: white;
    box-shadow: 1px 1px 1px 1px rgb(219, 218, 218);
    cursor: pointer;
    /* transition: 1s ease; */
    
    opacity: 0;
    
    
}
.course.appear{
    opacity: 1;
    transition: opacity 1.5s ease-in;
}
.course:hover{
    margin-top: -3%;
    transition: 1s ease;
}

/* Testimony */
.testimony{
    min-height: 100vh;
    background-color: whitesmoke;
    padding: 5% 0%;
     display: flex; 
    flex-direction: column;
    /* justify-content: center;
    align-items: center;  */
    /* overflow: hidden; */
}
.testimony p{
    font-size: xx-large;
    text-align: center;
}
.testimonial_holder{
    width: 100%;
    min-height: 100vh;
    /* border: 1px solid blue; */
    /* overflow: hidden; */
    
}
.img img{
    width: 100%;
    border-radius: 10%;
}
.img{
    width: 30%;
    border-radius: 10%;
}
.arrow{
    display: block;
    position: absolute;
    color: black;
    cursor: pointer;
    font-size: 2em;
    top: 505vh;
    transition: 1s ease;
    /* border: 1px solid red; */
    /* z-index: -2; */
}
.arrow:hover{
    opacity: 55%;
}
.arrow:before{
    cursor: pointer;
}
.left_arrow{
    left: 20%;
}
.right_arrow{
    right: 20%;
}
.dots{
    width: 100%;
    text-align: center;
    position: absolute;
    display: block;
    left: 0;
    /* border: 1px solid red; */
    height: 20px;
    top: 540vh;
    z-index: 1;

   
    
}
.dot{
    list-style-type: none;
    display: inline-block;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid black;
    position: relative;
    margin: 0 10px;
    cursor: pointer;
    position: relative;
    padding: 7px;
    transition: 1s ease;
}
.dot:hover,
.dots .active{
    background-color: rgb(105, 105, 105);
}
.testimony_content{
    /* border: 1px solid red; */
    min-height: 80vh;
    display: flex;
    width: 300%;
    
    /* z-index: 5px; */
    /* top: 480%; */
  
    left: 0;

   /* flex-direction: column; */
}
.testimony_content .testimony_detail{
    width: 100%;
    display:flex;
    justify-content: center; 
    align-items: center; 
    flex-direction: row;
    overflow: hidden;
    
    min-height: 50vh;
    padding: 2% 2%;
    /* top: 500%; */
    border: 1px solid red;
    /* background-color: white; */
   
    /* margin: 0; */
   

}
.testim{
    width: 80%;
    display: flex;
    padding: 2% 4%;
    min-height: 70vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    line-height: 30px;
    box-shadow: 1px 1px 2px 0px rgb(219, 218, 218);
}
.testimony_content .testimony_detail h3{
    font-size: 20px;
    text-align: center;
}
.testimony_content .testimony_detail p{
    font-size: medium;
    text-align: center;
}
/* **********************SWIPER.JS STYLING************************** */
.swiper{
    width: 50%;
    height: 80vh;
    
}
/* .swiper-wrapper{
    width: 100%;
    min-height: 100vh;
    display: flex;
    border: 1px solid red;
    align-items: center;
    justify-content: center;
} */
.swiper-slide{
    width: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 80vh;
    background-image: linear-gradient(to bottom right, white 60%, rgb(221, 221, 221)70%);
    /* background-color: white; */
    box-shadow: 1px 2px 2px 3px rgb(219, 218, 218);
    border-radius: 5%;
    padding: 1% 4%;
    
}
.swiper-slide h2,.swiper-slide p{
    font-size: large;
}
.swiper-slide h2{
    font-size: 30px;
}



/* .testimony */
/* BLOG */
.blog_holder{
    width: 100%;
    min-height: 120vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.blog{
    width: 100%;
    min-height: 80vh;
    /* background-color: white; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    

    
}

.blog_post{
    width: 30%;
    min-height: 40vh;
    background-color: white;
    box-shadow: 2px 2px 4px 0px rgb(219, 218, 218);
    margin: 0% 1%;
    cursor: pointer;
    opacity: 0;
    transition: opacity 1s ease;
    
}
.blog_post.appear{
    opacity: 1;
}
.blog_post :hover{
    opacity: 70%;
    transition: 1s ease;
    /* background-color: rgb(25, 25, 46); */
}
.blog_post img{
    width: 100%;
}
.blog_title{
    padding: 4% 4%;
}
.blog_title h4{
 font-size: 18px;
 /* font-weight: bold; */
}
.blog_title p{
    font-size: 14px;
}
footer{
    width: 100%;
    min-height: 80vh;
    background-color: rgb(25, 25, 46);
    display: flex;
    flex-direction: column;
    color: rgb(243, 243, 243);
    padding: 4% 3%;
}
.carousel{
    background-color: black;
}

.section_1{
    display: flex;
    flex-direction: row;
    min-height: 60vh;
    
}
.sub_section-1,.sub_section-2,.sub_section-3{
    /* border: 1px solid red; */
    width: 40%;
    padding: 2% 3%;
    min-height: 40vh;
}
.sub_section-1{
    line-height: 25px;
}
.sub{
    font-size: x-large;
}
.sub_section-2 li{
    list-style: none;
}
.sub_section-2 li a{
    font-size: 18px;
    text-decoration: none;
    color: white;
    transition: 1s ease;
}
.sub_section-2 li a:hover{
    color: tomato;
}
.newsletter input{
    border: none;
    min-height: 5.5vh;
    width: 60%;
    padding: 0% 2%;
}
.section_2{
    width: 100%;
    border-top: 1px solid whitesmoke;
}
/* Dashboard styling */
.dashboard{
    width:100%;
    display: flex;
    flex-direction: row;
    background-color: whitesmoke;
   
}
.dash_menu{
    width: 20%;
    line-height: 80px;
    min-height: 120vh;
    background-color: rgb(12, 12, 41);
    display: flex;
    padding: 3.5% 0%;
    /* padding-left: 4%; */
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.dash_menu div p{
    font-size: xx-large;
    color: white;
}
.dash_menu ul{
    line-height: 80px;
    width: 100%;
    padding-left: 20%;
    padding-right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
}
.dash_menu ul li{
    list-style: none;
    width: 100%;
    /* margin: 0; */
    padding-left: 5%;
    transition: 1s ease;
    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;
    /* text-align: center; */
    /* color: white; */
}
.dash_menu li a {
    text-decoration: none;
    width: 100%;
}
.dash_menu li a {
    font-size: large;
    /* width: 100%; */
    letter-spacing: 1px;
    color: rgb(109, 108, 108);
    text-transform: capitalize;
    /* text-decoration: none; */
}
.dash_menu div p img{
    width: 10%;
    /* border: 1px solid red; */
}
.dash_menu div p{
    display: flex;
    justify-content: center;
    align-items: center;
}
.dash_menu ul li:hover{
    background-color: whitesmoke;
    color: black;
    
}
.dash_menu div{
    /* border: 1px solid red; */
    display: flex;
    padding: 0% 10%;
}
.dash_main{
    padding: 2% 2%;
    width: 80%;
    min-height: 120vh;
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
}
.first_section{
    width: 100%;
    min-height: 40vh;
    box-shadow: 3px 2px 2px 2px rgb(219, 218, 218);
    border-radius: 10px;
    /* border: 1px solid red; */
    background-image: linear-gradient(to bottom,rgb(12, 12, 41)50%,white 50%);
    display: flex;
}
.user_detail{
    display: flex;
    flex-direction: column;
    /* border: 1px solid red; */
    width: 30%;
    min-height:2vh;
    justify-content: flex-end;
    /* line-height: 60px; */
    padding: 2% 2%;
    
}
.user_img img{
    width: 100%;
    border-radius: 50%;
    height: 25vh;
    border: 7px solid white;

}
.user_img {
    width: 60%;
    border-radius: 50%;

}
table{
    width: 100%;
    padding: 1% 2%;
    box-shadow: 3px 4px 1px 0px rgb(243, 243, 243);
   
}
.second_section{
    background-color: white;
    width: 100%;
    overflow: scroll;
    margin-top: 4%;
}
thead th{
    padding-left: 3%;
    /* border: 1px solid red; */
}
tbody tr {
    /* line-height: 20px; */
    height: 10vh;
    /* border: 1px solid red; */
    /* padding: 1% 2%; */
}
tbody tr td{
    /* border : 1px solid red; */
    padding-left: 3%;
}
#id_level,#id_course,#id_term{
    width: 90%;
}
.dashboard form{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0;
    /* border: 1px solid red; */
    background-color: white;
    margin-top: 2%;
    box-shadow: 1px 2px 2px 0px rgb(221, 221, 221);
}
#id_level,#id_course,.filter_btn{
    /* margin-left: 20px; */
}
.dashboard button{
    margin-top: 4%;
}
.create_result-section{
    width: 80%;
    min-height: 120vh;
    display: flex;
}
.create_result-section form{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 120vh;
    padding: 2% 2%;
}
.result_dashboard{
    display: flex;
}
.result_form{
    width: 100%;
    border: red;
    
}
.form-group{
    display: inline-block;
    width: 12%;
}
.form-control{

}
.maindiv {
    width: 80%;
    margin: 0;
    padding: 0;
}
.maindiv table{
    width: 100%;
}

/* .material-symbols-outlined {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
} */

/* AUTHENTICATION FORM */
.auth_form_body{
    width: 100%;
    min-height: 110vh;
    background: url(../media/bg.jpg);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    display:  flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.form_box{
    background-color: rgb(226, 226, 226);
    width: 30%;
    min-height: 70vh;
    padding: 2% 5%;
    position: relative;
    border-radius: 10px;
    opacity: 90%;
    overflow: hidden;
    /* border: 1px solid red; */
    
    
    /* line-height: 50px; */
    

}
.auth_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
   
    
}
.button_box{
    width: 100%;
    min-height: 5vh;
    /* border: 1px solid red; */
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    box-shadow: 1px 1px 2px 0px rgb(70, 69, 69);
    position: relative;
}
.button_box button{
    width:50%;
    border-radius: 50px;
    min-height: 5vh;
    background-color: transparent;
    border: none;
    position: relative;
    transition: 1s ease;
    
   
}
.button_box,.auth_form{
    margin-top: 20px;
}
.auth_input{
    margin-top: 8px;
    width: 100%;
    min-height: 5vh;
    border-radius: 10px;
    padding-left: 4%;
    padding-right: 4%;
    border: none;
    border-bottom: 1px solid gray;

}
#btn_form{
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 5vh;
    border-radius: 20px;
    background-color: darkgray;
    
    
}
.auth_form{
    position: absolute;
    top: 30%;
    left: 0;
    transition:  0.8s ease;
}
.auth_form button{
    margin-top: 5%;
}
.auth_form label{
    width: 70%;
    /* border: 1px solid red; */
    min-height: 5vh;
}
#login{
    left: 0;
}
#register{
    left: 100%;
}
.auth_register{
    top: 20%;
}
.auth_register button{
    display: none;
    transition: 2s ease;
}
.position{
    display: flex;
}
.auth_form_body ul{
    /* border: 1px solid red; */
    min-height: 3vh;
    width: 100%;
    padding: 0;
    
}
.auth_form_body ul li{
    font-size: 15px;

}
#auth_message{
    display: none;
}

@media screen and (max-width:1247px){
    .menu{
        width: 80%;
        padding: 1.5% 0%;
    }
    .header{
        width: 60%;
    }
    .user_img{
        width: 70%;
    }
    table{
        width: 120%;
    }
    .logo p{
        font-size: 20px;
        /* border: 1px solid red; */
    }
    .logo{
        display: flex;
        padding: 1% 0%;
    }
    .form_box{
        width: 40%;
    }
    
}

@media screen and (max-width:1090px){

    .menu{
        width: 75%;
        padding: 2% 0%;
    }
    .sub_section-1,.sub_section-2,.sub_section-3{
        /* border: 1px solid red; */
        width: 50%;
        padding: 2% 2%;
        min-height: 40vh;
    }
    .user_img{
        width:  80%;
    }
    table{
        width: 125%;
    }
    .form_box{
        width: 45%;
    }
}
@media screen and (max-width:1000px){
    .result_form{
        display: flex;
        flex-direction: column;
    }
    .form-group{
        width: 80%;
    }
    .logo p span{
        display: none;
    }
    .logo p img{
        width: 40%;
    }
    .dash_menu ul li a{
        font-size: 15px;
    }
    .form_box{
        width: 50%;
    }
}

@media screen and (max-width:900px){
    .menu{
        width: 78%;
        padding: 2% 3%;
    }
    nav{
        padding: 3% 4%;
    }
    .sub_section-1,.sub_section-2,.sub_section-3{
        /* border: 1px solid red; */
        width: 50%;
        padding: 2% 1%;
        min-height: 40vh;
    }
    .user_img{
        width: 90%;
    }
    table{
        width: 140%;
    }
    .logo p{
        font-size: 18px;
        
    }
    .logo{
        padding: 2% 0%;
    }
    .form_box{
        width: 55%;
    }

}

@media screen and (max-width:850px){
    .menu{
        width: 85%;
        padding: 2% 3%;
    }
    .header{
        width: 75%;
    }
    .checkbtn{
        display: block;
        cursor: pointer;

    }
    #toggle{
        width: 8%;
        min-height: 7vh;
        /* background-color: whitesmoke; */
        float: right;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 5px;
    }
    #toggle::before{
        content: '';
        position: absolute;
        width: 5%;
        height: 3px;
        background: white;
        transition: 0.2s;
        transform: translateY(-13px);
        box-shadow: 0 13px 0 rgb(219, 218, 218);
    }
    #toggle.active::before{
        transform: translateY(0px) rotate(45deg);
        box-shadow: 0 0 0 rgb(219, 218, 218);
    }

    #toggle::after{
        content: '';
        position: absolute;
        width: 5%;
        height: 3px;
        background: white;
        transition: 0.2s;
        transform: translateY(13px);
    }
    #toggle.active::after{
        transform: translateY(0px)  rotate(-45deg);
    }
    .menu{
        display: flex;
        position: fixed;
        left: 0;
        top: -100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        line-height: 50px;
        background-color:rgb(25, 25, 46);
        transition: 0.8s ease;
        min-height: 50vh;
        
    }
    .menu li a{
       display: block;
       font-size: 22px;
   } 
   .menu button{
        float: left;
        font-size: 25px;
        
   }
   #check:checked~.menu{
    top: 12%;

   }
   /* #check{
       display: block;
   } */
   .vision_holder{
       display: flex;
       flex-direction: column;
   }
   .vision_content{
       width: 80%;
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: 3%;
   }
   .about{
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   .about_picture{
       width: 80%;
   }
   .about_content{
       width: 80%;
       margin-top: 4%;
   }
   .courses_holder{
       display: flex;
       flex-direction: column;
    
   }
   .course{
       margin-top: 5%;
   }
   .blog_holder{
       padding: 4% 2%;
   }
   .blog{
       display: flex;
       flex-direction: column;
   }
   .blog_post{
       margin-top: 5%;
       width: 80%;
   }
   .blog,.blog_holder button{
       margin-top: 4%;
   }
   .section_1{
    display: flex;
    flex-direction: column;
    min-height: 60vh;
    /* justify-content: center;
    align-items: center; */
    
}
.sub_section-1,.sub_section-2,.sub_section-3{
    width: 100%;
    line-height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.sub_section-2{
    /* line-height: 5px; */
}
.newsletter input{
    width: 50%;
}
.newsletter{
    /* border: 1px solid red; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}
.first_section{
    display: flex;
    flex-direction: column;
}
.user_detail{
    /* border: 1px solid red; */
    width: 100%;
}
.user_img{
    width: 40%;
}
.user_img img{
    height: 40vh;
}
.user_detail{
 font-size: 18px;
}
.user_detail h4{
    color: white;
    margin-top: 6%;
}
table{
    width: 150%;
}
.dash_menu li a {
    font-size: 16px;
}
.dash_menu div p{
    font-size: larger;
}
.dash_menu ul li a span{
    /* font-size: 15px; */
    display: none;
}


}


@media screen and (max-width:768px){
    .header{
        width: 90%;
        margin-top: 15%;
    }
    .header h1{
        font-size: 40px;
    }
    .logo p{
        font-size: 25px;
    }
    #toggle{
        width: 5%;
        /* min-height: px; */
        /* border: 1px solid white; */
    }
    #toggle::after{
        height: 1.8px;
        /* transform: translateY(11px); */
    }
    #toggle::before{
        height: 1.8px;
        /* transform: translateY(-11px); */
    }
    .swiper{
        width: 70%;
        height: 80vh;
        
    }
    .img{
        width: 40%;
    }
    .swiper-slide{
        padding: 6% 6%;
    }
    .swiper-slide h2,.swiper-slide p{
        font-size: 15px;
    }
    .swiper-slide h2{
        font-size: 25px;
    }
    .dash_menu li a {
        font-size: 14px;
    }
    .user_img img{
        height: 35vh;
    }
    table{
        width: 180%;
    }
    .form_box{
        width: 65%;
    }
    
}
@media screen and (max-width:600px){
    .dash_menu div{
        font-size: 12px;
        /* border: 1px solid red; */
    }
    .form_box{
        width: 80%;
    }
}
@media screen and (max-width:550px){
    .header{
        width: 100%;
        margin-top: 25%;
    }
    .header h1{
        font-size: 35px;
    }
    .header p{
        font-size: 18px;
    }
    #toggle{
        width: 18%;
        /* border: 1px solid white; */
    
    }
    #toggle::before{
        width: 8%;
    }
    #toggle::after{
        width: 8%;
    }
    nav{
        padding-top: 5%;
    
    }
    .logo p{
        font-size: 25px;
    }
    .menu li a,.menu button{
        font-size: 18px;
    }
    .user_img{
        width: 50%;
    }
    table{
        width: 220%;
    }
    .filter_form{
        display: flex;
        flex-direction: column;
        padding: 5% 2%;
        min-height: 60vh;
    }
    #id_level,#id_course,#id_term{
        width: 100%;
    }
    .form_box{
        width: 90%;
    }

}
@media screen and (max-width:437px){
    .vision_content{
        width: 95%;
    }
    .about_picture{
        width: 95%;
    }
    .about_content{
        width: 95%;
    }
    .courses_holder{
        padding: 5% 4%;
    }
    .blog_post{
        width: 95%;
    }
    .swiper{
        width: 80%;
        height: 80vh;
        
    }
    .user_img{
        width: 55%;
    }
    table{
        width: 250%;
    }
    .dash_menu div p{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .dash_menu div p span{
        display: none;
        /* border: 1px solid red; */
    }
    .dash_menu div p img{
        display: block;
        width: 40%;
    }
}
@media screen and (max-width:385px){
    .header h1{
        font-size: 30px;
    }
    .header p{
        font-size: 16px;
    }
    table{
        width: 280%;
    }
}