{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}
<div class="dashboard">
    
            <section class="dash_menu">
                <div>
                    <p><img src="{%static 'media/logo2.png' %}" alt=""><span>cademyco</span> </p>
                </div>

                <ul>
                    <li class="dash_menu-li" onmouseover="changecolor(this)"><a href=""><img src="{%static 'media/dashboard.png' %}" alt=""><span>dashboard</span> </a></li>
                    <li class="dash_menu-li"  onmouseover="changecolor(this)"  ><a href=""><img src="{%static 'media/payment.png' %}" alt=""><span>payments</span> </a></li>
                    <li class="dash_menu-li"  onmouseover="changecolor(this)" ><a href=""><img src="{%static 'media/event.png' %}" alt=""><span>events</span>  </a></li>
                    <!-- <li class="dash_menu-li" onmouseover="changecolor(this)"  ><a href=""><img src="{%static 'media/dashboard.png' %}" alt=""> teachers</a></li> -->
                    <li class="dash_menu-li" onmouseover="changecolor(this)" ><a href=""><img src="{%static 'media/setting.png' %}" alt=""><span>settings</span> </a></li>
                    <li class="dash_menu-li"  onmouseover="changecolor(this)"><a href=""><img src="{%static 'media/chat.png' %}" alt=""><span>chat</span> </a></li>
                    <li class="dash_menu-li"  onmouseover="changecolor(this)"><a href=""><img src="{%static 'media/logout.png' %}" alt=""><span>logout</span> </a></li>
                </ul>
            </section>

        <div class="dash_main">  
<!-- MAIN DASHBOARD PAGE -->

        {% include 'maindash.html' with object=students %}
       

<!-- result section -->
                <form action="" class="filter_form" method="GET">
                    {{filter.form|crispy}}
                    
                    <button type="submit" class="btn btn-md btn-primary filter_btn">Search</button>
                </form>
                <section class="second_section">

                    <table>
                        <thead>
                            <tr>
                                <th>S/N</th>
                                <th>Subject</th>
                                <th>Test 1</th>
                                <th>Test 2</th>
                                <th>Exam</th>
                                <th>Total</th>
                                <th>Grade</th>
                                <th>Review</th>

                            </tr>
                        </thead>

                        <tbody>
                            
                                {%for result in results%}
                                <tr>
                                    <td>{{forloop.counter}}</td>
                                    <td>{{result.course}}</td>
                                    <td>{{result.first_test}}</td>
                                    <td>{{result.second_test}}</td>
                                    <td>{{result.exam}}</td>
                                    <td>{{result.total_score}}</td>
                                    <td>{{result.student_grade}}</td>
                                    <td>{{result.student_review}}</td>
                                
                                </tr>
                                {%empty%}
                                <h3>null</h3>
                                {%endfor%}
                                
                
                        </tbody>

                    </table>
                   
                </section>
                <button class="btn btn-secondary btn-sm">Upload result</button>
            </div>



</div>


{% endblock %}


<!-- <script>
    
    function changecolor(element){
        
        const text=element.innerText;
        if(text.style.color='whitesmoke'){
            text.style.color='black';
        }else{
            text.style.color='whitesmoke';
        }
        // element.style.backgroundColor='black';
        // console.log(element.innerText)
    }
    
</script> -->
 