{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}



{% block content %}
<div class="dashboard">
    
            <section class="dash_menu">
                <div>
                    <p><img src="{%static 'media/logo2.png' %}" alt=""><span>cademyco</span> </p>
                </div>

                <ul>
                    <li class="dash_menu-li" onmouseover="changecolor(this)"><a href="">dashboard</a></li>
                    <li class="dash_menu-li"  onmouseover="changecolor(this)"  ><a href=""><i class="fa-solid fa-money-bill"></i></i>payments</a></li>
                    <li class="dash_menu-li"  onmouseover="changecolor(this)" ><a href="">events </a></li>
                    <li class="dash_menu-li" onmouseover="changecolor(this)"  ><a href="">teachers</a></li>
                    <li class="dash_menu-li" onmouseover="changecolor(this)" ><a href="">settings</a></li>
                    <li class="dash_menu-li"  onmouseover="changecolor(this)"><a href="">chat</a></li>
                    <li class="dash_menu-li"  onmouseover="changecolor(this)"><a href="">logout</a></li>
                </ul>
            </section>

                
<!-- MAIN DASHBOARD PAGE -->

        {% include 'maindash.html' with object=students %}
       

<!-- result section -->
                <!-- <form action="" class="filter_form" method="GET">
                    {{filter.form|crispy}}
                    
                    <button type="submit" class="btn btn-md btn-primary filter_btn">Search</button>
                </form> -->
                <section class="second_section">

                    <table>
                        <thead>
                            <tr>
                                <th>Names of student</th>
                                <th>Current class</th>
                                <th>Student Id</th>
                                <th>Date of Birth</th>
                                <th>Date admitted</th>
                            </tr>
                        </thead>

                        <tbody>
                            
                            <tr>
                                {% for student in student_list %}
                                <tr>
                                    <td>{{student}}</td>
                                    <td>{{student.level}}</td>
                                    <td>{{student.student_id}}</td>
                                    <td>Null</td>
                                    <td>Null</td>
                                <td><button class="btn btn-sm btn-info"><a href="{% url 'result_page' student.id %}" style="text-decoration: none;">view details</a></button></td>
                           {%endfor%}
                            </tr>

                        </tbody>

                    </table>
                   
                </section>
                <button class="btn btn-secondary btn-sm">Upload result</button>
            </div>



</div>


{% endblock %}


<!-- <script>
    
    function changecolor(element){
        
        const text=element.innerText;
        if(text.style.color='whitesmoke'){
            text.style.color='black';
        }else{
            text.style.color='whitesmoke';
        }
        // element.style.backgroundColor='black';
        // console.log(element.innerText)
    }
    
</script> -->
 