<footer>
<div class="section_1">

    <div class="sub_section-1">
        <p class="sub">Address: </p>
        <p>No.23 Evo rd, Port Harcourt,River State,Nigeria</p>

        <p class="sub">Our Contact:</p>
        <p>09056225795</p>       
        <p>09086047180</p>  
    </div>


    <ul class="sub_section-2">
        <li><a href=""><img src="" alt="">Facebook</a></li>
        <li><a href=""><img src="" alt="">Twitter</a></li>
        <li><a href=""><img src="" alt="">Instagram</a></li>
        <li><a href=""><img src="" alt="">LinkedIn</a></li>
        <li><a href=""><img src="" alt="">Dribbble</a></li>
    </ul>


    <div class="sub_section-3">
        <p>Subsribe to our Newsletter</p>
        <form action="">
            
        </form>
    </div>

</div>
<!-- ------------------------------ -->
<div class="section_2">

    
</div>
    
</footer>