{% load static %}

        <div id="seconddeck">
            <div id="batchone">
                <h2>USER </h2>
            </div>
            <div id="batchtwo">
                <h3>Name: <strong>{{object.name}}</strong></h3>
                <h3>ID: <strong>{{object.id_no}}</strong></h3>
                <h3>Email: <em>{{object.email}}</em></h3>

            </div>
        </div>
       

        <div id="seconddeck">
            <div id="batchone">
                <h2>COURSES</h2>
            </div>
            <div id="batchtwo">
                <h3>Name of courses:</h3>
                <ul>
                    {% for course in courses %}
                    <li>{{course}}</li>
                    {% endfor %}
                </ul>

            </div>
        </div>
    

        <div id="seconddeck">
            <div id="batchone">
                <h2>CLASS</h2>
            </div>
            <div id="batchtwo">
                <h3>Class: <strong>{{object.level}}</strong></h3> 
            </div>
        </div>
      
        
  