{% load static %}

<div class="dash_main">
    <h2>Dashboard</h2>
            <section class="first_section">
                <div class="user_detail">
                    <div class="user_img"><img src="{%static 'media/c.jpg' %}" alt=""></div>
                    <h4>Miracle c Godwin</h4>
                    <p>Student</p>
                </div>

                <div class="user_detail">
                    <p>Phone no</p>
                    <p>09086047180</p>
                </div>

                <div class="user_detail">
                    <P>Email</P>
                    <p>miraclegodwin67@gmail.com</p>
                </div>
            </section>